[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
sqlalchemy = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
black = "*"
pyodbc = "*"
Pyzmq = "==19.0.2"
matplotlib = "*"
fuzzywuzzy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
